<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="no-js ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "WebSite",
  "name": "Mariam's Flowers",
  "url": "https://mariamsflowers.com/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://mariamsflowers.com/search?type={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

  <script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "FAQPage",
  "mainEntity": [
    {
      "@type": "Question",
      "name": "How do I care for my arrangement?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Since our arrangements are made with the freshest flowers minimal care is needed to maintain the arrangements. For fresh water arrangements always keep the vase filled to the top with clean water. There is not need to add anything else. For basket, box, or vase arrangement keep the floral foam saturated by adding a handful of ice cubes to the arrangement every other day. Keep your arrangement in a cool place and away from direct sunlight. Keep away from heating or cooling vents, fans, and radiators. Some flowers will last longer than others. To keep your arrangement looking fresh, simply pluck fading flowers off the stem."
      }
    },
    {
      "@type": "Question",
      "name": "How long do your flowers last?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "With proper care our flowers typically last 1-2 weeks."
      }
    },
    {
      "@type": "Question",
      "name": "How do I know if my order has been delivered?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "You can always call us to check the status of your order."
      }
    },
    {
      "@type": "Question",
      "name": "What if the recipient is not home?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "If the recipient is not home when the delivery is made we will contact you, unless special instruction is given to leave the flowers at the address. If we are unable to get in contact with you we will call the recipient to receive specific instructions. If we are unable to reach either you or the recipient the flowers will be returned back to the flower shop. The recipient will be contacted before a second delivery is made."
      }
    },
    {
      "@type": "Question",
      "name": "Can I customize my order?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Yes for custom orders please contact us."
      }
    },
    {
      "@type": "Question",
      "name": "Will my flowers be the exactly the same as the image?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "All of our floral arrangements and bouquets are made by hand, by expert floral designers, with the freshest flowers and best quality nature can make. For this reason no two arrangements could ever be 100% the same. Often times, due to the season, weather conditions, and availability the floral designers will make substitutions of equal or greater value. They may also substitute the original colors of the arrangement with similar colors. However, they will keep the overall size, shape, style, and color combination of the arrangement similar."
      }
    },
    {
      "@type": "Question",
      "name": "How to deliver to the hospital?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "We will happily deliver the flowers to your loved one at the hospital. To deliver to the hospital you must proved the hospital name, hospital phone number, the recipient's name, room number and ward."
      }
    },
    {
      "@type": "Question",
      "name": "Do your prices change?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Yes prices change due to seasons, availability, holidays, and other factors."
      }
    }
  ]
}
</script>

  <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Mariam's Flowers",
  "image": "https://mariamsflowers.com/cdn/shop/files/mariams_finalogo-01_300x.png?v=1613797289",
  "@id": "",
  "url": "https://mariamsflowers.com/",
  "telephone": "(818) 503-3000",
  "priceRange": "$$",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "13320 Vanowen St",
    "addressLocality": "Van Nuys",
    "addressRegion": "CA",
    "postalCode": "91405",
    "addressCountry": "US"
  },
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
      "Sunday"
    ],
    "opens": "09:00",
    "closes": "20:00"
  } 
}
</script>
  
  <meta name="facebook-domain-verification" content="gwxk989i5p1ndxg1wh1sj0a147hp7o" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WVPLBGW2Y8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WVPLBGW2Y8');
</script>

	<title>
		{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
	</title>

	<script type="text/javascript">
		document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
	</script>

	{% if page_description %}
	<meta name="description" content="{{ page_description | escape }}">
	{% endif %}

	{% if template contains 'product' %}
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
	{% else %}
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% endif %}

	{% include 'social-meta-tags' %}

	<link rel="canonical" href="{{ canonical_url }}" />

	<!-- CSS -->
	{{ 'plugins.css' | asset_url | stylesheet_tag }}
  {% include 'theme-style' %} {{ 'style.scss.css' | asset_url | stylesheet_tag | replace: ' href=', ' data-href='}}

	{% include 'font-links' %}

	{% if settings.favicon != blank %}
		<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{% endif %}

	<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" /> 
  {% include 'vital-loader' %}
  {% capture cfh %}{{ content_for_header }}{% endcapture %}   

	<script type="text/javascript">
	window.lazySizesConfig = window.lazySizesConfig || {};
	window.lazySizesConfig.rias = window.lazySizesConfig.rias || {};

	// configure available widths to replace with the {width} placeholder
	window.lazySizesConfig.rias.widths = [150, 300, 600, 900, 1200, 1500, 1800, 2100];
	</script>

	{% if template contains 'customers' %}
		{{ "shopify_common.js" | shopify_asset_url | script_tag }}
		{{ "customer_area.js" | shopify_asset_url | script_tag }}
	{% endif %}

	{{ 'jquery-3.3.1.min.js' | asset_url | script_tag }}
	{{ 'plugins.js' | asset_url | script_tag }}
	{{ 'custom.js' | asset_url | script_tag }}
	{{ 'sections.js' | asset_url | script_tag }}

  {% include 'judgeme_core' %}
 
 
{% include 'pagefly-header' %}
 {% include 'pagefly-app-header' %}
 

  <style>
 #collections #shopify-section-footer .footer-block--wrapper li.custom-active{
  font-weight: 500;
 } 


     @media (max-width:767px){
        .mobile-menu--wrapper .mobile-search #search-wrapper #search_text{
        width: 56%;
}
        .mobile-header-wrap--icons .cusmtermenu{
     position: relative;
     display: flex;
}
    .mobile-header-wrap--icons .cusmtermenu .header--supporting-text .cart-item-count-header{
      position: absolute;
    top: 1px !important;
    bottom: 0px;
    right: -6px !important;
    left: 0;
    font-size: 13px;
}
        #french-bouquet-workshop .slideout-panel .container button.pf-slider-prev.nav-style-1, #french-bouquet-workshop .slideout-panel .container button.pf-slider-next.nav-style-1{
          display:none;
        }
     }
  </style>
  
</head> 
  

<body 
    
      id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} flexbox-wrapper{% unless settings.animations_enabled %} animations-disabled{% endunless %}">

	{% include 'cart-drawer' %}

	<div id="main-body">

		<div id="slideout-overlay"></div>

		{% section 'announcement-bar' %}
		{% section 'header' %}
    {% section 'text-adverts' %}

		<div id="main" role="main">

			{% unless template == "index" or template == "collection" %}
				<div class="container">
			{% endunless %}

			{{ content_for_layout }}

			{% unless template == "index" or template == "collection" %}
				</div>
			{% endunless %}

		</div>

		{% section 'footer' %}
		{% include 'homepage-scripts' %}

	</div>

	{% include 'popup' %}

	{% if settings.show_multiple_currencies %}
		{% include 'currencies' %}
	{% endif %}

	<script>
		// Translations that will be used in javascript section handling
		window.theme = {
        strings: {
            addToCart: {{ 'products.product.add_to_cart' | t | json }},
            added: {{ 'products.product.added' | t | json }},
            soldOut: {{ 'products.product.sold_out' | t | json }},
            unavailable: {{ 'products.product.unavailable' | t | json }},
            make_a_selection: {{ 'products.product.make_a_selection' | t | json }},
            showMore: {{ 'general.filters.show_more' | t | json }},
            showLess: {{ 'general.filters.show_less' | t | json }}
        },
        moneyFormat: {{ shop.money_format | json }}
    };
	</script>

{% include 'appstle-subscription-helper' %} {% include 'smile-initializer' %}

 <script src="{{ 'custom.min.js' | asset_url }}" defer></script>
<style>
 .template-search .indiv-product .lazyload-blur-wrapper{
    /* aspect-ratio: 1; */
    max-width: 100% !important;
  }
  
  .template-search .results-grid.product-grid .indiv-product img{
      aspect-ratio: 1;
    -o-object-position: center;
    object-position: center;
    max-width: 100% !important;
    vertical-align: bottom;
    transition: opacity .3s ease-in;
    width: 100%;
    object-fit: contain;
}
  }
</style>
</body>

</html>
